.btn {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;

    max-width: 20rem;
    border-radius: 6px;
    text-align: center;
    padding: 1.7rem 5.2rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        background-color: dimgrey;
        color: linen;
        opacity: 1;
        cursor: not-allowed;
    }
  }

.primary {
    background-color: white;
    color: #ED4C5C;
}

.secondary {
    background-color: #ED4C5C;
    color: white;
}
